

            
            <div class="dashboard-item collapsible deletable draggable" data-module-id="14">
                <div class="dashboard-item-header">
                  <span class="dashboard-item-header-drag icon-grid"></span>
                  <span class="dashboard-item-header-buttons"></span>
                  <span class="dashboard-item-header-title">
                    <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                    <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>All groups </span>



                    <div class="cf"></div>
                </div>
                <div class="dashboard-item-content">
                  <div class="dashboard-container columns_1 cf">
                    <div class="dashboard-column ui-droppable ">
                      <table id="result_list">
                        <thead>
                          <tr>
                            <th scope="col"  class="column-id_dspace">
                              <div class="text">Group</div>
                              <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-title">
                               <div class="text"># Services</div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-title">
                               <div class="text"><span class="float-right">Records</span></div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-title">
                               <div class="text"><span class="float-right">Downloads</span></div>
                               <div class="clear"></div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for group in table.group_statistics %}
                          <tr>
                            <th colspan="1">{{ group.name }}</th>
                            <th>{{ group.values|length }}</th>
                            <th class="text-right"><span class="float-right">{{ group.resume.totalrecords }}</span></th>
                            <th class="text-right"><span class="float-right">{{ group.resume.totalcuantity }}</span></th>
                          </tr>
                          {% endfor%}
                        </tbody>
                        <tfooter>
                          <tr>
                              <th colspan="1">Total</th>
                              <th></th>
                              <th class="text-right"><span class="float-right">{{ table.resume.totalrecords }}</span></th>
                              <th class="text-right"><span class="float-right">{{ table.resume.totalcuantity }}</span></th>
                          </tr>
                        </tfooter>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              {% for group in table.group_statistics %}
              <div class="dashboard-item collapsible deletable draggable collapsed" data-module-id="{{group.name}}">
                <div class="dashboard-item-header">
                  <span class="dashboard-item-header-drag icon-grid"></span>
                  <span class="dashboard-item-header-buttons"></span>
                  <span class="dashboard-item-header-title">
                    <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                    <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>{{ group.name }}</span>
                  <div class="cf"></div>
                </div>
                <div class="dashboard-item-content">
                  <div class="dashboard-container columns_1 cf">
                    <div class="dashboard-column ui-droppable ">
                      <table id="result_list">
                        <thead>
                          <tr>
                            <th scope="col"  class="column-id_dspace">
                              <div class="text">Service</div>
                              <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-title">
                               <div class="text"><span class="float-right">Records</span></div>
                               <div class="clear"></div>
                            </th>
                            <th scope="col"  class="column-title">
                               <div class="text"><span class="float-right">Downloads</span></div>
                               <div class="clear"></div>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for gs in group.values %}
                          <tr>
                            <td><a href="{% url "gug:stat_index_paginated" %}?page=1{% for t in table.periods %}&amp;period={{t.id}}{% endfor%}&amp;gsid={{gs.id}}&amp;pagesize=10">{{ gs.name }}</a></td>
                            {% for statistic in table.statistics %}
                              {% if gs.id == statistic.google_service %}
                                <td>
                                  <span class="float-right">
                                    {{ statistic.cuantity__count }}
                                  </span>
                                </td>
                                <td>
                                  <span class="float-right">
                                    {{ statistic.cuantity__sum }}
                                  </span>
                                </td>
                              {% endif %}
                            {% endfor%}
                          </tr>
                        {% endfor%}
                        </tbody>
                        <tfooter>
                          <tr>
                            <th colspan="1">Total</th>
                            <th><span class="float-right">{{ group.resume.totalrecords }}</span></th>
                            <th><span class="float-right">{{ group.resume.totalcuantity }}</span></th>
                          </tr>
                        </tfooter>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor%}
