{% extends "gug/home.html" %}
{% block content %}


<h2>DSpace Publication </h2>
  <form action="" method="get" class="form-horizontal" role="form">
       {% csrf_token %}
       {{ form }}
        <input type="submit" value="Submit" />
  </form>
  <br class="clear" />
  <fieldset class="module aligned extrapretty wide">
    <div class="form-row field-id_dspace">
      <div>
        <label for="id_name">Id dspace:</label>
        {{ dspace_record.id_dspace }}
      </div>
    </div>
    <div class="form-row field-id_dspace">
      <div>
        <label for="title">Title:</label>{{ dspace_record.title }}
      </div>
    </div>
    <div class="form-row field-id_dspace">
      <div>
        <label for="post_title1">Post Title 1:</label>{{ dspace_record.post_title1 }}
      </div>
    </div>
    <div class="form-row field-id_dspace">
      <div>
        <label for="post_title2">Post Title 2:</label>{{ dspace_record.post_title2 }}
      </div>
    </div>
  </fieldset>
  <br class="clear" />
  <div class="results">
    <table id="result_list">
      <thead>
        <tr>
        <th scope="col"  class="sortable column-id_dspace">
           <div class="text">Id dspace</div>
           <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-title">
           <div class="text">Period</div>
           <div class="clear"></div>
        </th>
        {% if detail == 'on' %}
        <th scope="col"  class="sortable column-title">
           <div class="text">File</div>
           <div class="clear"></div>
        </th>
        {% endif %}
        <th scope="col"  class="sortable column-title">
           <div class="text">Downloads</div>
           <div class="clear"></div>
        </th>
        </tr>
      </thead>
      <tbody>
        {% for st in stats %}
          <tr class="{% cycle 'row1' 'row2' %}">
            <th class="field-id_dspace">{{st.id_dspace__id_dspace}}</th>
            <td class="field-title">{{ st.period__start_date}}</td>
            {% if detail == 'on' %}
              <td>{{st.publication__tfile}}</td>
            {% endif %}
            <td>{{ st.cuantity}}</td>

          </tr>
        {% endfor%}
      </tbody>

    </table>
</div>




{% endblock %}
