{% extends "gug/home.html" %}
{% load i18n %}
{% load static %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>

<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.min.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard jet change-form{% endblock %}

{% block content %}
<!--style="heigth: auto; overflow-x: auto;"-->
<div id="content" class="flex">
  	<div class="dashboard-container columns_1 cf">
		{% include "gug/includes/dspace_record.html" %}
	</div>
	<div class="dashboard-item collapsible deletable draggable" data-module-id="5">
		<div class="dashboard-item-header">
		<span class="dashboard-item-header-drag icon-grid"></span>
		<span class="dashboard-item-header-buttons"></span>
		<span class="dashboard-item-header-title">
		  <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
		  <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
		  By filename 
		</span>
		<div class="cf"></div>
		</div>
		<div class="dashboard-item-content">
		<div class="dashboard-container columns_1 cf">
		  <div class="dashboard-column ui-droppable ui-sortable">
		      <table id="result_list">
		        <thead>
		          <tr>
		            <th scope="col" class="column-title">
		            	fieldname
		            </th>
		          </tr>
		        </thead>
		        <tbody>
		        	{% for fieldname in files_list %}
		        		<tr>
		        			{% for st in fieldname %}
                        
		            		<th scope="col" class="column-title">
		            		{{st}}
		            		</th>
		            		{% endfor %}
		               
		            	
		            	</tr>
		          {% endfor %}
		        </tbody>
		          
		      </table>
		    </div>
		  </div>
		</div>
	</div>
</div>

{% endblock %}
