{% extends "gug/home.html" %}
{% block content %}


<h2>Google Services: {{ google_service.name }} </h2>
  <table id="result_list">
      <thead>
        <tr>
          <th scope="col"  class="column-id_dspace">
             <div class="text">Scope</div>
             <div class="clear"></div>
          </th>
          <td scope="col"  class="column-title">
             <div class="text">{{ google_service.scope }}</div>
             <div class="clear"></div>
          </dh>
          <th scope="col"  class="column-id_dspace">
             <div class="text">Client Secret Path</div>
             <div class="clear"></div>
          </th>
          <td scope="col"  class="column-title">
             <div class="text">{{ google_service.client_secret_path }}</div>
             <div class="clear"></div>
          </dh>
        </tr>
        <tr>
          <td scope="col"  class="column-title">
             <div class="text">Discovery</div>
             <div class="clear"></div>
          </th>
          <td scope="col"  class="column-title">
             <div class="text">{{ google_service.discovery }}</div>
             <div class="clear"></div>
          </td>
          <td scope="col"  class="column-title">
             <div class="text">View ID</div>
             <div class="clear"></div>
          </td>
          <td scope="col"  class="column-title">
             <div class="text">{{ google_service.view_id }}</div>
             <div class="clear"></div>
          </td>
        </tr>
        <tr>
          <td scope="col"  class="column-title">
             <div class="text">Service</div>
             <div class="clear"></div>
          </th>
          <td scope="col"  class="column-title">
             <div class="text">{{ google_service.service }}</div>
             <div class="clear"></div>
          </td>
          <td scope="col"  class="column-title">
             <div class="text">Active</div>
             <div class="clear"></div>
          </td>
          <td scope="col"  class="column-title">
             <div class="text">{{ google_service.active }}</div>
             <div class="clear"></div>
          </td>
        </tr>
        <tr>
          <td scope="col"  class="column-title">
             <div class="text">Version</div>
             <div class="clear"></div>
          </th>
          <td scope="col"  class="column-title">
             <div class="text">{{ google_service.version }}</div>
             <div class="clear"></div>
          </td>
          <td scope="col"  class="column-title">
             <div class="text">Report</div>
             <div class="clear"></div>
          </td>
          <td scope="col"  class="column-title">
             <div class="text">{{ google_service.report }}</div>
             <div class="clear"></div>
          </td>
        </tr>
      </thead>
      <tbody>
       
      </tbody>

    </table>
    <br class="clear" />
    

                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Period</th>
                        <th>Records</th>
                        <th>Downloads</th>
                      </tr>
                    </thead>
                      <tbody>
                        {% for st in periods %}
                          <tr>
                            <th scope="row">{{ st.id }}</th>
                            <td><a href="{% url "gug:stat_index_paginated" %}?period={{st.id}}&amp;gsid={{google_service.id}}&amp;page=1">{{ st }}</a></td>
                            
                              {% for statistic in statistics %}
                                {% if st.id == statistic.period %}
                                <td>
                                  {{ statistic.cuantity__count }}
                                </td>
                                <td>
                                  {{ statistic.cuantity__sum }}
                                </td>
                                {% endif %}
                              {% endfor%}

                          </tr>
                        {% endfor%}
                        
                    </tbody>
                    <tfooter>
            <tr>
                <th colspan="1">Total</th>
                <th>{{ statistics|length }}</th>
                <th class="text-right">{{ resume.totalrecords }}</th>
                <th class="text-right">{{ resume.totalcuantity }}</th>
                
            </tr>
          </tfooter>
                   </table>
                </td>

{% endblock %}
