{% extends "gug/home.html" %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% load bootstrap_pagination %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.min.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'gug:index' %}">{% trans 'Home' %}</a>
            {% if app %}
                &rsaquo; <a href="{{ app.app_url }}">{% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}</a>
            {% endif %}
            &rsaquo; {{ object.title|capfirst }}
        </div>
    {% endblock %}
{% endif %}

{% block bodyclass %}{{ block.super }} dashboard jet change-form{% endblock %}


{% block content %}
<div id="content" class="flex">



<h2>Google Services </h2>
<div class="panel panel-primary">

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Group</th>
	      <th>Name</th>
	      <th>Service</th>
	      <th>Version</th>
	      <th>View ID</th>
	      <th>Records</th>
	      <th>Downloads</th>
	      <th>Last Update</th>
	    </tr>
	  </thead>
		<tbody>
	    {% for gs in google_service %}
	      <tr>
	        <td>{{ gs.group }}</td>
	        <th><a href="{% url "gug:google_services_detail" gs.id %}">{{ gs.name }}</a></th>
	        <td>{{ gs.service }}</td>
	        <td>{{ gs.version }}</td>
	        <td>{{ gs.view_id }}</td>
	        <td>{{ gs.stats__count }}</td>
	        <td>{{ gs.cuantity }}</td>
	        <td>{{ gs.last_update }} </td>

	      </tr>
	    {% endfor%}
	    </tbody>
	</table>
</div>






{% endblock %}
