{% extends "gug/home.html" %}
{% load static %}
{% load i18n %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">


    google.charts.load('current', {'packages':['line', 'corechart']});
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
      var data = new google.visualization.DataTable();

      data.addColumn('date', 'Period');
      data.addColumn('number', 'Records');
      data.addColumn('number', 'Downloads');
      data.addRows([
      {% for statistic in table.statistics %}[new Date('{{statistic.period__start_date|date:"Y"}}-{{statistic.period__start_date|date:"m"}}-{{statistic.period__start_date|date:"d"}}T00:00:00-0400'),{{statistic.cuantity__count|urlize}}, {{statistic.cuantity__sum|urlize}}]{% if not forloop.last %},{% endif %}{% endfor%}
      ]);

      // Create our data table out of JSON data loaded from server.
      var options = {
        chart: {
          title: '{{ google_service.name }}',
          subtitle: 'Downloads'
        },
        series: {
          // Gives each series an axis name that matches the Y-axis below.
          0: {axis: 'Downloads'},
          1: {axis: 'Records'}
        },
        axes: {
          // Adds labels to each axis; they don't have to match the axis names.
          y: {
            Records: {label: 'Records'},
            Downloads: {label: 'Downloads'}
          }
        }
      };
      var materialChart = new google.charts.Line(document.getElementById('chart_div'));
      materialChart.draw(data, options);
    }

</script>

{% endblock %}
{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'gug:index' %}">{% trans 'Home' %}</a>&rsaquo; <a href="{% url 'gug:google_services' %}">{% trans 'Google Services' %}</a>
            {% if app %}
                &rsaquo; <a href="{{ app.app_url }}">{% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}</a>
            {% endif %}
            &rsaquo; {{ object.title|capfirst }}
        </div>
    {% endblock %}
{% endif %}

{% block bodyclass %}{{ block.super }} dashboard jet change-form{% endblock %}
{% block content %}

 <div id="content" class="flex">
  <div class="dashboard-container columns_1 cf">
    <div class="dashboard-column-wrapper">
      <div class="dashboard-column first">
        <div class="dashboard-item collapsible deletable draggable" data-module-id="10">
          <div class="dashboard-item-header">
            <span class="dashboard-item-header-drag icon-grid"></span>
            <span class="dashboard-item-header-buttons"></span>
            <span class="dashboard-item-header-title">
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
                    Google Services: {{ table.google_service.name }}
            </span>
            <div class="cf"></div>
          </div>
          <div class="dashboard-item-content">
            <ul>
              <li>Scope: {{ table.google_service.scope }}</li>
              <li>Discovery: {{ table.google_service.discovery }}</li>
              <li>View ID: {{ table.google_service.view_id }}</li>
              <li>Service: {{ table.google_service.service }}</li>
              <li>Max. month before: {{ table.google_service.service.max_month_before }}</li>
              <li>Version: {{ table.google_service.version }}</li>
              <li>Is Active: {{ table.google_service.active }}</li>

              <li>Report: {{ table.google_service.report }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-container columns_2 cf">
    <div class="dashboard-column-wrapper">
      <div class="dashboard-column first">
        <div class="dashboard-item collapsible deletable draggable" data-module-id="21">
          <div class="dashboard-item-header">
            <span class="dashboard-item-header-drag icon-grid"></span>
            <span class="dashboard-item-header-buttons"></span>
            <span class="dashboard-item-header-title">
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
              Graph
            </span>
            <div class="cf"></div>
          </div>
          <div class="dashboard-item-content">
            <div id="chart_div" style="width: 700px; height: 450px"></div>
          </div>
        </div>
        <div class="dashboard-item collapsible deletable draggable collapsed" data-module-id="3">
                <div class="dashboard-item-header">
                    <span class="dashboard-item-header-drag icon-grid"></span>
                    <span class="dashboard-item-header-buttons"></span>
                    <span class="dashboard-item-header-title">
                        <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                        <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
                            Workareas</span>
                    <div class="cf"></div>
                </div>
                  {% include "gug/includes/workareas.html" %}
            </div>
      </div>
    </div>
    <div class="dashboard-column ">
      <div class="dashboard-column-wrapper">
        <div class="dashboard-item collapsible deletable draggable" data-module-id="22">
          <div class="dashboard-item-header">
            <span class="dashboard-item-header-drag icon-grid"></span>
            <span class="dashboard-item-header-buttons"></span>
            <span class="dashboard-item-header-title">
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
              Data
            </span>
            <div class="cf"></div>
          </div>
          <div class="dashboard-item-content">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Period</th>
                  <th>Records</th>
                  <th>Downloads</th>
                </tr>
              </thead>
              <tbody>
                {% for statistic in table.statistics %}
                  <tr>
                    <th>
                      <a href="{% url "gug:stat_index_paginated" %}?period={{statistic.period}}&amp;gsid={{table.google_service.id}}&amp;pagesize=10&amp;page=1">
                        {{ statistic.period__start_date }}
                      </a>
                    </th>
                    <td>
                      {{ statistic.cuantity__count }}
                    </td>
                    <td>
                      {{ statistic.cuantity__sum }}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
              <tfooter>
                <tr>
                  <th colspan="1">Total {{ table.statistics|length }} periods</th>
                  <th class="text-right">{{ table.resume.totalrecords }}</th>
                  <th class="text-right">{{ table.resume.totalcuantity }}</th>
                </tr>
              </tfooter>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</script>

{% endblock %}
