{% extends "gug/home.html" %}
{% load static %}
{% block content %}


<h2>Google Services </h2>
<div class="panel panel-primary">

	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>ID</th>
	      <th>Name</th>
	      <th>Service</th>
	      <th>Version</th>
	      <th>View ID</th>
	      <th>Records</th>
	      <th>Downloads</th>
	    </tr>
	  </thead>
		<tbody>
	    {% for gs in google_service %}
	      <tr>
	        <th scope="row">{{ gs.id }}</th>
	        <td><a href="{% url "gug:google_services_detail" gs.id %}">{{ gs.name }}</a></td>
	        <td>{{ gs.service }}</td>
	        <td>{{ gs.version }}</td>
	        <td>{{ gs.view_id }}</td>
	        <td>{{ gs.stats__count }}</td>
	        <td>{{ gs.cuantity }}</td>
	        
	      </tr>
	    {% endfor%}
	    </tbody>
	</table>
</div>
          





{% endblock %}