{% extends "admin/base.html" %}
{% load static i18n %}
{% block title %}{{ title }} | {{ site_title|default:_('Publications Download') }}{% endblock %}

{% block branding %}
    <h1 id="site-name">
        <span class="icon-jet"></span> {% trans "Publications Download" %}
    </h1>
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    <script type="text/javascript" charset="utf-8">
        (function(w,d,s,g,js,fs){
          g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(f){this.q.push(f);}};
          js=d.createElement(s);fs=d.getElementsByTagName(s)[0];
          js.src='https://apis.google.com/js/platform.js';
          fs.parentNode.insertBefore(js,fs);js.onload=function(){g.load('analytics');};
        }(window,document,'script'));
    </script>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "core/css/branding.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/css/icons/style.css" %}" />

{% endblock %}

{% block nav-global %}
	<a href="{% url "gug:google_services" %}"  class="sidebar-link icon">
		<span class="sidebar-link-label">
			<span class="sidebar-link-icon jet-demo-icon-github"></span>
				{% trans 'Google Services' %}
			</span>
    </a>
    <a href="{% url "gug:groups" %}"  class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon jet-demo-icon-github"></span>
                {% trans 'Google Services Groups' %}
            </span>
    </a>
    <a href="{% url "gug:periods" %}"  class="sidebar-link icon">
		<span class="sidebar-link-label">
			<span class="sidebar-link-icon jet-demo-icon-github"></span>
				{% trans 'Periods' %}
			</span>
    </a>
    <a href="{% url "gug:extensions" %}"  class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon jet-demo-icon-github"></span>
                {% trans 'Extensions' %}
            </span>
    </a>
    <a href="{% url "gug:workareas" %}"  class="sidebar-link icon">
        <span class="sidebar-link-label">
            <span class="sidebar-link-icon jet-demo-icon-github"></span>
                {% trans 'Work areas' %}
            </span>
    </a>
    {% if user.is_authenticated  %}
        <a href="{% url "gug:get_GA" %}" class="sidebar-link icon">
            <span class="sidebar-link-label">
            <span class="sidebar-link-icon jet-demo-icon-github"></span>
                {% trans 'Import data' %}
            </span>
            
        </a>
        <a href="{% url "gug:get_titles" %}" class="sidebar-link icon">
            <span class="sidebar-link-label">
            <span class="sidebar-link-icon jet-demo-icon-github"></span>
                {% trans 'Get titles from DSpace' %}
            </span>
            
        </a>
    
    {% endif %}


{% endblock %}



{% block userlinks %}
    <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
{% endblock %}

{% block footer %}
    {{ block.super }}

 <div id="footer"></div>


        <div class="related-popup-container scrollable">
            <a href="#" class="related-popup-back">
                <span class="related-popup-back-icon icon-arrow-left"></span>
                <span class="related-popup-back-label">back</span>
            </a>
            <span class="icon-refresh loading-indicator"></span>
        </div>

        <div class="sidebar-header-wrapper sidebar-dependent">
            <div class="sidebar-header sidebar-dependent">
                <a href="#" class="sidebar-header-menu sidebar-toggle">
                    <span class="sidebar-header-menu-icon icon-menu"></span>
                    <span class="sidebar-header-menu-icon icon-cross"></span>
                </a>
            </div>
        </div>
{% endblock %}

{% block content %}
    <div class="panel-body">


    </div>
{% endblock %}

