{% extends "gug/home.html" %}
{% load static %}
{% load i18n %}
{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'gug:index' %}">{% trans 'Home' %}</a>
            {% if app %}
                &rsaquo; <a href="{{ app.app_url }}">{% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}</a>
            {% endif %}
            &rsaquo; {{ object.title|capfirst }}
        </div>
    {% endblock %}
{% endif %}

{% block bodyclass %}{{ block.super }} dashboard jet change-form{% endblock %}

{% block content %}

<div id="content" class="flex">
    <div class="dashboard-container columns_3 cf">
        <div class="dashboard-column-wrapper">
            <div class="dashboard-column first">
                <div class="dashboard-item collapsible deletable draggable" data-module-id="1">
                    <div class="dashboard-item-header">
                        <span class="dashboard-item-header-drag icon-grid"></span>
                        <span class="dashboard-item-header-buttons">

                        </span>
                        <span class="dashboard-item-header-title">
                                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
                                Google Services
                        </span>
                        <div class="cf"></div>
                    </div>
                   <div class="dashboard-item-content">
                        <ul>
                            <li class="contrast">
                                <a href="{% url "gug:google_services" %}" title="Google Services Detail">Resume</a>
                            </li>
                            <li>
                                <span class="float-right">
                                        Downloads
                                </span>
                                Services
                            </li>
                            {% for gs in google_services %}
                              <li>
                                <span class="float-right">
                                     {{ gs.cuantity }}
                                </span>
                                <a href="{% url "gug:google_services_detail" gs.id %}">{{ gs.name }}</a>
                              </li>
                            {% endfor%}
                            <li >
                                <span class="float-right">

                                     {{ google_services_sums.cuantity }}
                                </span>
                                <a href="/stat/?pagesize=10&page=1">Total</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-column-wrapper">
            <div class="dashboard-column ">
                <div class="dashboard-item collapsible deletable draggable" data-module-id="2">
                    <div class="dashboard-item-header">
                        <span class="dashboard-item-header-drag icon-grid"></span>
                        <span class="dashboard-item-header-buttons">

                        </span>
                        <span class="dashboard-item-header-title">
                                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
                                Periods
                        </span>
                        <div class="cf"></div>
                    </div>
                   <div class="dashboard-item-content">
                        <ul>
                            <li class="contrast">
                                <a href="{% url "gug:periods" %}" title="Periods Detail">Resume</a>
                            </li>
                            <li>
                                <span class="float-right">
                                        Downloads
                                </span>
                                Periods
                            </li>

                            {% for gs in object_list %}
                              <li>
                                <span class="float-right">
                                     {{ gs.cuantity }}
                                </span>
                                <a href="{% url "gug:periods_detail" gs.id %}">{{ gs }}</a>
                              </li>
                            {% endfor%}
                            <li >
                                <span class="float-right">
                                    {{ google_services_sums.cuantity }}
                                </span>
                                <a href="/stat/?pagesize=10&page=1">Total</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="dashboard-column-wrapper">
            <div class="dashboard-column ">
                <div class="dashboard-item collapsible deletable draggable" data-module-id="3">
                    <div class="dashboard-item-header">
                        <span class="dashboard-item-header-drag icon-grid"></span>
                        <span class="dashboard-item-header-buttons">

                        </span>
                        <span class="dashboard-item-header-title">
                                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                                <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
                                Publications
                        </span>
                        <div class="cf"></div>
                    </div>
                   <div class="dashboard-item-content">
                        <ul>
                            <ul>
                            <li class="contrast">
                                <a href="{% url "gug:periods" %}" title="Periods Detail">Resume</a>
                            </li>
                            <li>
                                <span class="float-right">
                                        Downloads
                                </span>
                                Publications
                            </li>


                            {% for row in dspaces %}
                              <li>

                                {% for val in row %}
                                    {% if forloop.counter0 == 0 %}
                                      <a href="{% url 'gug:dspace_detail' %}?id_dspace={{val|urlize}}{% for t in google_services %}&amp;gsid={{t.id}}{% endfor%}{% for t in object_list %}&amp;period={{t.id}}{% endfor%}">
                                  {% elif forloop.counter0 == 1 %}
                                    {{val|urlize}}</a>
                                  {% else %}
                                    <span class="float-right">
                                      {{val|default_if_none:"0"}}
                                    </span>
                                  {% endif %}
                                {% endfor%}
                              </li>
                            {% endfor%}
                            <li >
                                <span class="float-right">
                                     {{google_services_sums.cuantity}}
                                </span>
                                <a href="/stat/?pagesize=10&page=1">Total</a>
                            </li>
                        </ul>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

