{% extends "gug/home.html" %}
{% load static %}
{% block content %}


<h2>Periods </h2>
<div class="panel panel-primary">
  <div class="collapse navbar-collapse panel-heading" id="bs-example-navbar-collapse-1">

    {% if user.is_authenticated %}
      <ul class="nav navbar-nav navbar-right">

      </ul>
    {% endif %}
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">Periods</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
          <table class="table table-striped">
		      <thead>
		        <tr>
		          <th>ID</th>
		          <th>Start date</th>
		          <th>End date</th>
		          <th>Is Active</th>
		          <th>Records</th>
		        </tr>
		      </thead>
      			<tbody>
			        {% for period in periods %}
			          <tr>
			            <th scope="row">{{ period.id }}</th>
			            <td><a href="{% url "periods_detail" period.id %}">{{ period.start_date }}</a></td>
			            <td>{{ period.end_date }}</td>
			            <td>{{ period.active }}</td>
			            <td>{{ period.stats__count }}</td>
			          </tr>
			        {% endfor%}
			    </tbody>
			   </table>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}