{% extends "gug/home.html" %}
{% block content %}


<h2>Periods {{ period }}</h2>
<br class="clear" />

   <div class="results">
    <table id="result_list">
       <tbody>
        <tr>
          <td scope="col" class="column-id_dspace">
             <div class="text">Start Date</div>
             <div class="clear"></div>
          </td>
          <td scope="col" class="column-id_dspace">
             <div class="text">{{ period.start_date }}</div>
          </td>
        </tr>
        <tr>
          <td scope="col"  class=" column-id_dspace">
             <div class="text">End Date</div>
             <div class="clear"></div>
             
          </td>
          <td scope="col" class="column-id_dspace">
            <div class="text">{{ period.end_date }}</div>
          </td>

        </tr>
      </tbody>
    </table>
    </div>
    <br class="clear" />
    <div class="results">
      <table id="result_list">
        <thead>
          <tr>
            <th scope="col"  class="sortable column-id_dspace">
              <div class="text"><a href="?o=1">Service</a></div>
              <div class="clear"></div>
            </th>
              <th scope="col"  class="sortable column-title">
                 <div class="text"><a href="?o=2">View</a></div>
                 <div class="clear"></div>
              </th>
              <th scope="col"  class="sortable column-title">
                 <div class="text"><a href="?o=3">Records</a></div>
                 <div class="clear"></div>
              </th>
              <th scope="col"  class="sortable column-title">
                 <div class="text"><a href="?o=4">Downloads</a></div>
                 <div class="clear"></div>
              </th>
              </tr>
            </thead>
                      
            <tbody>
              {% for gs in google_service %}
                <tr>
                  <td><a href="{% url "gug:stat_index_paginated" %}?period={{period.id}}&amp;gsid={{gs.id}}&amp;page=1&amp;pagesize=10">{{ gs }}</a></td>
                  
                  <td>{{ gs.view_id }}</td>
                  
                  
                    {% for statistic in statistics %}
                      {% if gs.id == statistic.google_service %}
                      <td class="text-right">
                        {{ statistic.cuantity__count }}
                      </td>
                      <td class="text-right">
                        {{ statistic.cuantity__sum }}
                      </td>
                      {% endif %}
                    {% endfor%}

                </tr>
              {% endfor%}
              
          </tbody>
          <tfooter>
            <tr>
                <th colspan="1">Total</th>
                <th>{{ statistics|length }}</th>
                <th class="text-right">{{ resume.totalrecords }}</th>
                <th class="text-right">{{ resume.totalcuantity }}</th>
                
            </tr>
          </tfooter>
         </table>
</div>


{% endblock %}
