{% extends "gug/home.html" %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% load bootstrap_pagination %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.min.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'gug:index' %}">{% trans 'Home' %}</a>&rsaquo; <a href="{% url 'gug:periods' %}">{% trans 'Periods' %}</a>
            {% if app %}
                &rsaquo; <a href="{{ app.app_url }}">{% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}</a>
            {% endif %}
            &rsaquo; {{ object.title|capfirst }}
        </div> 
    {% endblock %}
{% endif %}

{% block bodyclass %}{{ block.super }} dashboard jet change-form{% endblock %}


{% block content %}
<div id="content-main">
  {% block object-tools %}{% endblock %}
  <h2>Periods: {{ table.period }}</h2>
  <div class="dashboard-container columns_1 cf">
    <div class="dashboard-column-wrapper">
      <div id="content" class="flex">
        <div class="dashboard-column first">
          <div class="dashboard-item collapsible deletable draggable" data-module-id="1">
            <div class="dashboard-item-header">
              <span class="dashboard-item-header-drag icon-grid"></span>
              <span class="dashboard-item-header-buttons"></span>
              <span class="dashboard-item-header-title">
                      <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                      <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
                      Period
              </span>
              <div class="cf"></div>
            </div>
            <div class="dashboard-item-content contrast" style="height: auto;">
              <div class="padding center">
                <ul class="inline bordered">
                  <li>
                    <div class="big">{{ table.period.start_date }}</div><div class="dim">Start Date</div>
                  </li>
                  <li>
                    <div class="big">{{ table.period.end_date }}</div><div class="dim">End Date</div>
                  </li>
                 
                </ul>
                <a href="/get_report?period={{table.period.id}}&amp;output=csv">Get month report</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="dashboard-container columns_2 cf">
    <div class="dashboard-column-wrapper">
      <div class="dashboard-column ">
        <div class="dashboard-item collapsible deletable draggable" data-module-id="14">
          <div class="dashboard-item-header">
            <span class="dashboard-item-header-drag icon-grid"></span>
            <span class="dashboard-item-header-buttons">
            </span>
            <span class="dashboard-item-header-title">
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>All groups </span>
            <div class="cf"></div>
          </div>
          <div class="dashboard-item-content">
              <div class="dashboard-container columns_1 cf">
                <div class="dashboard-column ui-droppable ">
                  <table id="result_list">
                    <thead>
                      <tr>
                        <th scope="col"  class="column-id_dspace">
                          <div class="text">Group</div>
                          <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-title">
                           <div class="text"># Services</div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-title">
                           <div class="text"><span class="float-right">Records</span></div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-title">
                           <div class="text"><span class="float-right">Downloads</span></div>
                           <div class="clear"></div>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for group in table.group_statistics %}
                      <tr>
                        <th colspan="1">{{ group.name }}</th>
                        <th>{{ group.values|length }}</th>
                        <th class="text-right"><span class="float-right">{{ group.resume.totalrecords }}</span></th>
                        <th class="text-right"><span class="float-right">{{ group.resume.totalcuantity }}</span></th>
                      </tr>
                      {% endfor%}
                    </tbody>
                    <tfooter>
                      <tr>
                          <th colspan="1">Total</th>
                          <th></th>
                          <th class="text-right"><span class="float-right">{{ table.resume.totalrecords }}</span></th>
                          <th class="text-right"><span class="float-right">{{ table.resume.totalcuantity }}</span></th>
                      </tr>
                    </tfooter>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
        
        {% for group in table.group_statistics %}
        <div class="dashboard-item collapsible deletable draggable collapsed" data-module-id="4">
          <div class="dashboard-item-header">
            <span class="dashboard-item-header-drag icon-grid"></span>
            <span class="dashboard-item-header-buttons"></span>
            <span class="dashboard-item-header-title">
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>{{ group.name }}</span>
            <div class="cf"></div>
          </div>
          <div class="dashboard-item-content">
            <div class="dashboard-container columns_1 cf">
              <div class="dashboard-column ui-droppable ">
                <table id="result_list">
                  <thead>
                    <tr>
                      <th scope="col"  class="column-id_dspace">
                        <div class="text">Service</div>
                        <div class="clear"></div>
                      </th>
                      <th scope="col"  class="column-title">
                         <div class="text">View</div>
                         <div class="clear"></div>
                      </th>
                      <th scope="col"  class="column-title">
                         <div class="text"><span class="float-right">Records</span></div>
                         <div class="clear"></div>
                      </th>
                      <th scope="col"  class="column-title">
                         <div class="text"><span class="float-right">Downloads</span></div>
                         <div class="clear"></div>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for gs in group.values %}
                    <tr>
                      <td><a href="{% url "gug:stat_index_paginated" %}?period={{table.period.id}}&amp;gsid={{gs.id}}&amp;page=1&amp;pagesize=10">{{ gs.name }}</a></td>

                      <td>{{ gs.view_id }}</td>
                      {% for statistic in table.statistics %}
                        {% if gs.id == statistic.google_service %}
                          <td>
                            <span class="float-right">
                              {{ statistic.cuantity__count }}
                            </span>
                          </td>
                          <td>
                            <span class="float-right">
                              {{ statistic.cuantity__sum }}
                            </span>
                          </td>
                        {% endif %}
                      {% endfor%}
                    </tr>
                  {% endfor%}
                  </tbody>
                  <tfooter>
                    <tr>
                      <th colspan="1">Total</th>
                      <th>{{ group.values|length }}</th>
                      <th><span class="float-right">{{ group.resume.totalrecords }}</span></th>
                      <th><span class="float-right">{{ group.resume.totalcuantity }}</span></th>
                    </tr>
                  </tfooter>
                </table>
              </div>
            </div>
          </div>
        </div>
      {% endfor%}
    
          <div class="dashboard-item collapsible deletable draggable collapsed" data-module-id="3">
            <div class="dashboard-item-header">
                <span class="dashboard-item-header-drag icon-grid"></span>
                <span class="dashboard-item-header-buttons"></span>
                <span class="dashboard-item-header-title">
                    <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                    <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
                        Workareas</span>
                <div class="cf"></div>
            </div>
              {% include "gug/includes/workareas.html" %}
          </div>

      
         

      </div>
    </div>
    <div class="dashboard-column-wrapper">
      <div class="dashboard-column ">
         <div class="dashboard-item collapsible deletable draggable collapsed" data-module-id="6">
            <div class="dashboard-item-header">
                <span class="dashboard-item-header-drag icon-grid"></span>
                <span class="dashboard-item-header-buttons"></span>
                <span class="dashboard-item-header-title">
                    <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
                    <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>
                        Extensions</span>
                <div class="cf"></div>
            </div>
              {% include "gug/includes/extensions.html" %}
          </div>

        <div class="dashboard-item collapsible deletable draggable" data-module-id="3">
          <div class="dashboard-item-header">
            <span class="dashboard-item-header-drag icon-grid"></span>
            <span class="dashboard-item-header-buttons"></span>
            <span class="dashboard-item-header-title">
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-down"></span></a>
              <a href="#" class="dashboard-item-collapse"><span class="dashboard-item-header-collapse-button icon-arrow-up"></span></a>Publications
            </span>
            <div class="cf"></div>
          </div>
          <div class="dashboard-item-content">
            <ul>
              <li class="contrast">
                <a href="/stat/?pagesize=10&amp;page=1{% for t in table.google_services %}&amp;gsid={{t.id}}{% endfor%}{% for t in table.periods %}&amp;period={{t.id}}{% endfor%}"  title="Periods Detail">Resume</a>
              </li>
              <li>
                <span class="float-right">Downloads</span>
                Publications
              </li>
              {% for row in table.dspaces %}
                <li>
                {% for val in row %}
                  {% if forloop.counter0 == 0 %}
                    <a href="{% url 'gug:dspace_detail' %}?id_dspace={{val|urlize}}{% for t in table.google_service %}&amp;gsid={{t.id}}{% endfor%}&amp;period={{table.period.id}}">
                  {% elif forloop.counter0 == 1 %}
                    {{val|urlize}}</a>
                  {% else %}
                    <span class="float-right">
                      {{val|default_if_none:"0"}}
                    </span>
                  {% endif %}
                {% endfor%}
                </li>
              {% endfor%}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
<div class="dashboard-item-content">
            <div class="dashboard-container columns_1 cf">
              <div class="dashboard-column ui-droppable ">
                <table id="result_list">
                  <thead>
                    <tr>
                      <th scope="col"  class="column-id_dspace">
                        <div class="text">Service</div>
                        <div class="clear"></div>
                      </th>
                        <th scope="col"  class="column-title">
                           <div class="text">View</div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-title">
                           <div class="text">Records</div>
                           <div class="clear"></div>
                        </th>
                        <th scope="col"  class="column-title">
                           <div class="text">Downloads</div>
                           <div class="clear"></div>
                        </th>
                        </tr>
                      </thead>

                      <tbody>
                        {% for gs in table.google_service %}
                          <tr>
                            <td><a href="{% url "gug:stat_index_paginated" %}?period={{table.period.id}}&amp;gsid={{gs.id}}&amp;page=1&amp;pagesize=10">{{ gs }}</a></td>

                            <td>{{ gs.view_id }}</td>


                              {% for statistic in table.statistics %}
                                {% if gs.id == statistic.google_service %}
                                <td class="text-right">
                                  {{ statistic.cuantity__count }}
                                </td>
                                <td class="text-right">
                                  {{ statistic.cuantity__sum }}
                                </td>
                                {% endif %}
                              {% endfor%}

                          </tr>
                        {% endfor%}

                    </tbody>
                    <tfooter>
                      <tr>
                          <th colspan="1">Total</th>
                          <th>{{ table.statistics|length }}</th>
                          <th class="text-right">{{ table.resume.totalrecords }}</th>
                          <th class="text-right">{{ table.resume.totalcuantity }}</th>

                      </tr>
                    </tfooter>
                   </table>
                   </div>
              </div>
          </div>
        </div>