{% extends "gug/home.html" %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% load bootstrap_pagination %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}
{% block content %}

<h2>Download Stats </h2>

<form action="" method="get" class="form-horizontal" role="form">
     {% csrf_token %}
     {{ form }}
      <input type="submit" value="Go" />
</form>

<br class="clear" />

<div class="results">
  <table id="result_list">
    <thead>
      <tr>
        {% for fieldname in table.headers %}
          <th scope="col" class="column-title">
             <div class="text">{{ fieldname }}</div>
             <div class="clear"></div>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in table.rows %}
        <tr>
          {% for val in row %}
            {% if forloop.counter0 == 0 %}
              <th>
                <a href="{% url 'gug:dspace_detail' %}?id_dspace={{val|urlize}}{% for t in gs %}&amp;gsid={{t}}{% endfor%}">{{val|urlize}}</a>
              </th>
            {% else %}
              <td class="text-right">
                {{val|default_if_none:""}}
              </td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor%}
    </tbody>
    <tfooter>
       {% for row in table.resume %}
        <tr>
          {% for val in row %}
            <th>
              {{val|default_if_none:""}}
            </th>
          {% endfor %}
        </tr>
      {% endfor%}
    </tfooter>
  </table>
</div>
{% endblock %}
