{% extends "gug/header.html" %}
{% load mathfilters %}
{% load bootstrap_pagination %}
{% block content %}


<h2>Download Stats </h2>
  <div class="table-responsive">
    <div class="panel panel-primary">
      <div class="collapse navbar-collapse panel-heading" id="bs-example-navbar-collapse-1">
        Period: {{ period }}

        {% if user.is_authenticated  %}
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tasks <span class="caret"></span></a>
              <ul class="dropdown-menu">

              </ul>
            </li>

          </ul>
        {% endif %}
      </div>


    <div class="panel-body">
      <div class="row">
        <div class="col-xs-6">
          <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>{{ period }}</dd>

            <dt>Start Date</dt>
            <dd>{{ period.start_date }}</dd>
            <dt>Start Date</dt>
            <dd>{{ period.end_date }}</dd>
            <dt>Active</dt>
            <dd>{{ period.active }}</dd>


          </dl>
        </div>
        <div class="col-xs-6">
          <dl class="dl-horizontal">

            <dt>Name</dt>
            <dd>{{ gs.name }}</dd>

            <dt>Scope</dt>
            <dd>{{ gs.scope }}</dd>
            <dt>Discovery</dt>
            <dd>{{ gs.discovery }}</dd>

            <dt>Service:</dt>
            <dd>{{ gs.service }}</dd>

            <dt>Version</dt>
            <dd>{{ gs.version }}</dd>
            <dt>Active</dt>
            <dd>{{ gs.active }}</dd>


          </dl>
        </div>


      </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
              <ul class="nav nav-tabs">
                <li class="active"><a href="#tab1" data-toggle="tab">Google Services</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane active" id="tab1">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Publication</th>
                        <th>File</th>
                        <th class="text-right">Downloads</th>
                      </tr>
                    </thead>
                      <tbody>
                        {% for gs in stats %}
                          <tr>
                            <td>{{ gs.period }}</td>
                            <td>{{ gs.id_dspace }}</td>
                            <td>{{ gs.publication }}</td>
                            <td>{{ gs.cuantity}}</td>

                          </tr>
                        {% endfor%}

                    </tbody>


                   {% if stats.has_other_pages %}
                    <tfooter>
                      <tr>
                        <td colspan="4" align="center">
                          <ul class="pagination">
                              <li><a href="?page=1">&laquo;&laquo;</a></li>
                              {% if stats.has_previous %}
                                  <li><a href="?page={{ stats.previous_page_number }}">&laquo;</a></li>
                              {% else %}
                                  <li class="disabled"><span>&laquo;</span></li>
                              {% endif %}
                              {% for i in stats.paginator.page_range %}
                                  {% if stats.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                  {% else %}
                                    {% if i|sub:3 > 0 and i|add:3 < stats.paginator.num_pages%}
                                      {% if i|sub:stats.number <= 3 and i|sub:stats.number > 0 %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% elif stats.number|sub:i <= 3  and stats.number|sub:i >= 0 %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                      {% endif %}
                                    {% endif %}
                                  {% endif %}
                              {% endfor %}
                              {% if stats.has_next %}
                                  <li><a href="?page={{ stats.next_page_number }}">&raquo;</a></li>
                              {% else %}
                                  <li class="disabled"><span>&raquo;</span></li>
                              {% endif %}
                              <li><a href="?page={{ stats.paginator.num_pages }}">&raquo;&raquo;</a></li>
                          </ul>
                        </td>
                      </tr>
                    </tfooter>

                  {% endif %}
                  </table>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
