{% extends "gug/home.html" %}
{% load i18n %}
{% load static %}
{% load mathfilters %}
{% load bootstrap_pagination %}
{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="/static/admin/js/core.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script type="text/javascript" src="/static/admin/js/actions.min.js"></script>
<script type="text/javascript" src="/static/admin/js/urlify.js"></script>
<script type="text/javascript" src="/static/admin/js/prepopulate.min.js"></script>
<script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.min.js"></script>
{% endblock %}

{% if not is_popup %}
    {% block breadcrumbs %}
        <div class="breadcrumbs">
            <a href="{% url 'gug:index' %}">{% trans 'Home' %}</a>
            {% if app %}
                &rsaquo; <a href="{{ app.app_url }}">{% if app.name != app.app_label|capfirst|escape %}{{ app.name }}{% else %}{% trans app.app_label as app_label %}{{ app_label|capfirst|escape }}{% endif %}</a>
            {% endif %}
            &rsaquo; {{ object.title|capfirst }}
        </div>
    {% endblock %}
{% endif %}

{% block bodyclass %}{{ block.super }} dashboard jet change-form{% endblock %}


{% block content %}
<div id="content" class="flex">


<h2>Work Areas</h2>
<div class="panel panel-primary">
  <div class="collapse navbar-collapse panel-heading" id="bs-example-navbar-collapse-1">


  </div>
    <div class="row">
    <div class="col-xs-12">
      <div class="tabbable"> <!-- Only required for left/right tabs -->

        <div class="tab-content">
          <div class="tab-pane active" id="tab1">
          <table class="table table-striped">
		      <thead>
		        <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Downloads</th>
		        </tr>
		      </thead>
      			<tbody>
			        {% for download in table.work_area_list %}
			          <tr>
                  {% for field in download %}
                      <td>{{field}}</td>
                  {% endfor%}
			         

			          </tr>
			        {% endfor%}
			    </tbody>
			   </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
